/* To-Do App Colors from Coders for Causes */
:root {
  --primary-color: #00B2B2;
  --secondary-color: #D0E6FF;
  --tertiary-color: #E6F7FF;
  --quaternary-color: #1D1E1F;
}

/* Dark mode styles */
body {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

/* General styles */
.app {
  background-color: var(--quaternary-color);
  width: 500px;
  margin: auto;
  font-family: sans-serif;
}

/* To-Do List styles */
.todo-list {
  list-style: none;
  color: var(--quaternary-color);
  padding: 0;
}

.todo-item {
  background-color: var(--primary-color);
  padding: 12px 24px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.todo-item:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Input form styles */
.input-form {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.input-form input[type="text"] {
  width: auto;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  flex-grow: 1;
}

.input-form input[type="submit"] {
  width: auto;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-form input[type="submit"]:hover {
  background-color: var(--secondary-color);
}
